@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans|Permanent+Marker);


#wrapper{
    min-height:100%;
    position:relative;
}
body{
    min-height:100%;
}
html{
   margin:0;
   padding:0;
   min-height:100% !important;
}
.navbar {
    /*background-image: url('../images/download.png');*/
     background-size:cover;
     background-color: black;
     border-color: black;
    background-repeat: no-repeat;
    opacity: 0.75;
    text-align:center !important;
     font-family: 'Permanent Marker', cursive;
     height:10%;
}

body{
    background-color:black;
    color: white;
    
}

.nav-bar{
    z-index:1 !important;
}


.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
 
    background-position: center;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index:-1;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/photo1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/photo2.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/photo3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/photo1.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/photo2.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/photo3.jpg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}

ul {list-style-type: none;}

.home-content{
    font-size:2em;
    /*opacity: .65; */
    margin-top:100px;
}
.navbar-nav>li>a{
    padding-top:35px;
    padding-bottom:35px;
    font-size:2.6em;
}

.navbar-nav>li>a:hover{
    color:white !important;
}


.home-footer,
.events-footer,
.projects-footer,
.contact-us-footer{
    width: 100%;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
.history-content{
    font-size:1.25em;
    padding-bottom:-80px;
    margin-bottom:-200px;
}
img{
    padding:5px 5px 5px 5px;
}

.logo{
    height:550%;
    margin-top:-25px;
}
.case {
    font-size:140%;
    opacity:1 !important;
    color:white;
}
.history{
    position:relative;
    overflow: hidden;
    z-index:1;
}
.history, .well {
    /*content: '';*/
    /* opacity: 0.6;*/
    background-image: url("../images/flag.png");
    /*border: none;*/
    /* display: block;*/
    /*position: absolute;*/
    /* z-index: -1;   */
     
     background-size: cover;

}
.jumbotron {
    background-image: url("../images/flag.png");
    background-position: center;
    border: none;
}



.thumbnail {
      background-image: url("../images/flag.png");
      border: solid;
      border-color: black;
}

.building {
    font-size: 400%;
}
.history-footer{
    width: 100%;
    background-color: black;
    height: 10%;
    bottom:0 !important;
    left: 0 !important;
    position:relative !important;
    opacity: 0.8;
    /*position: absolute;*/
    /*padding-top: 55px !important;*/
}



.tiny {
    color:  #267326;
    font-size: 600%;
   font-family: 'Walter Turncoat', cursive;
}




