@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans|Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#wrapper {
    min-height: 100%;
    position: relative;
}


body {
    min-height: 100%;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
}

.navbar {
    /*background-image: url('../images/download.png');*/
    background-size: cover;
    background-color: black;
    border-color: black;
    background-repeat: no-repeat;
    opacity: 0.75;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    height: 10%;
}

body {
    background-color: black;
    color: white;
}

.nav-bar {
    z-index: 1 !important;
}

.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: -1;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/photo1.jpg)
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/photo2.jpg);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/photo3.jpg);
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/photo1.jpg);
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/photo2.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/photo3.jpg);
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }
    8% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    19% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 140px
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 80px
    }
}

ul {
    list-style-type: none;
}

.home-content {
    font-size: 2em;
    /*opacity: .65; */
    margin-top: 100px;
}

.navbar-nav>li>a {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 2.6em;
}

.navbar-nav>li>a:hover {
    color: white !important;
}


.home-footer {
    width: 100%;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size:2em;
}

.history {
    font-size: 1.25em;
    /*margin-bottom:200px !important;*/
    /*z-index:-;*/
}

img {
    padding: 5px 5px 5px 5px;
}

.logo {
    height: 550%;
    margin-top: -25px;
}

.case {
    font-size: 140%;
    opacity: 1 !important;
    color: white;
}

.jumbotron {
    background-image: url("../images/flag.png");
    background-position: center;
    border: none;
    padding-top: 10px;
}

.thumbnail {
    background-image: url("../images/flag.png");
    border: solid;
    border-color: black;
}

.building {
    font-size: 400%;
}

.history-footer,
.events-footer,
.contact-us-footer{
    width: 100%;
    background-color: black;
    height: 10%;
    bottom: 0 !important;
    left: 0 !important;
    position: static !important;
    opacity: 0.8;
    position: absolute;
    padding-top: 55px !important;
    margin-top: 25px;
    font-size:2em;
}


.tiny {
    color: #267326;
    font-size: 600%;
    font-family: 'Montserrat', sans-serif;
}

.cube {
    font-size: 250%;
}

@media (min-width: 410px) and (max-width: 900px) {
    .home-footer{
       width: 100%;
    background-color: black;
    height: 10%;
    bottom: 0 !important;
    left: 0 !important;
    position: static !important;
    opacity: 0.8;
    position: absolute;
    padding-top: 55px !important;
    margin-top: 25px;
    font-size:2em; 
    }
    .tiny{
        font-size:3em;
    }
    .navbar{
        height: 5%;
        font-size:.5em;
        padding-top: 12px;
    padding-bottom: 12px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
    .logo {
        /*width: 200px !important;*/
        height: 350% !important;
    }
    .dropdown-menu {
        background-color: black;
    }
}

a:hover {
    background-color: black;
}

a:active {
    background-color: black;
}

dropdown-menu {
    background-color: black !important;
}


/*.container {*/


/*  background: url("http://derektownsend.github.io/pdc/images/photo3.jpg");*/

/*  height: 100vh;*/


/*  background-size: cover;*/


/*}*/

.box {
    z-index: 1;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.box::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/flag.png");
    background-size: 100% 100%;
    /* scales background image to size of div */
    opacity: 0.8;
}


/*
Nexus 600 960
Ipad  768 1024
*/
